[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kotecoder
[access "refs/for/refs/*"]
	read = group user/kotecoder
	push = group user/kotecoder
	label-Code-Review = -2..+2 group user/kotecoder
	label-Verified = -1..+1 group user/kotecoder
	rebase = group user/kotecoder
	removeReviewer = group user/kotecoder
	submit = group user/kotecoder
[access "refs/heads/*"]
	read = group user/kotecoder
	create = group user/kotecoder
	push = +force group user/kotecoder
	pushMerge = group user/kotecoder
[access "refs/tags/*"]
	push = group user/kotecoder
	push = +force group user/kotecoder
